extends layout

block content
  h1= title
  a(href='/create') Add Item
  p #{item_count} Items
  table 
    tr 
      th Room
      th Container 
      th Content
    each item in item_list
      tr
        td= item.room
        td= item.container
        td= item.content
        td
          a(href=item._id + '/update') Edit
