extends layout

block content
  h1= title
  a(href='/create') Add Item
  br
  br
  button(onclick='myOtherFunction()') Last Search
  input.form-control(type='text' placeholder='Search' oninput='myFunction()')
  select(name='filter' onchange='myFunction()')
    option(value='Content') Content
    option(value='Room') Room
    option(value='Container') Container
    
  br
  br
  form(action='' method='POST')
    input.form-control(type='text' placeholder='Advanced Search' name='info')
    input(type='submit')
  div Examples:
  div $and: [ { content: /200/ }, { content: /pen/ } ]
  div $or: [ { room: 'Kitchen' }, { container: /L/ } ]
  br
  p #{item_count} Items
  table 
    tr 
      th Room
      th Container 
      th Content
    each item in item_list
      tr
        td= item.room
        td= item.container
        td= item.content
        td
          a(href=item._id + '/update') Edit
        td
          a(href=item._id + '/delete') Delete
  a(href='/log-out') Log Out